.button {
  cursor: pointer;
  padding: 0.333rem 1rem;

  border-radius: 8px;
  border: 1px solid var(--gray-8);

  color: var(--gray-8);
  background-color: var(--white);
}

.button:hover {
  background-color: var(--gray-1);
}

.button--icon-only {
  padding: 0.333rem;
}

.button--variant-primary {
}

.button--variant-unset {
  all: unset;
}
