.tag {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border-radius: 16px;
  border: 1px solid var(--gray-7);

  color: var(--gray-7);
  background-color: var(--white);
}

@media (max-width: 480px) {
  .tag {
    padding: 0.125rem 0.25rem;
  }
}
